img {
  width: 100%;
  height: 700px;
}

.wrapper {
  position: relative;
}

.search-wrapper {
  position: absolute;
  top: 450px;
  left: 695px;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
}
